.wrap {
  background: linear-gradient(to top, #87CEEB, #ADD8E6, #E6E6FA);
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note{
  color: white;
}

.formField {
  font-family: "DM Serif Text", system-ui;
  font-weight: 400;
  font-size: large;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--sky-blue);
  padding: 20px;
  border-radius: 10px;
}

#nameField {
  padding: 5px 10px;
}